<ion-header class="bar-positive">
  <ion-navbar>
    <ion-title>{{ (event | async).created_date | date: 'ddMMyyyy' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
      
  <p>{{ (event | async).num_photos }} photos <br/></p>
  
  <ion-grid>
    <ion-row wrap>
      <ion-col width-33 *ngFor="let photo of photos | async" >
        <img src="{{photo.file_url || photo.photo_url}}" (click)="viewPhoto(photo)"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button>
        <button ion-fab (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-fab (click)="choosePicture()">
          <ion-icon name="attach"></ion-icon>
        </button>
        <button ion-fab>
          <ion-icon name="person-add"></ion-icon>
        </button>
      </button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>
