<ion-header class="bar-positive">
  <ion-navbar>
    <ion-title>Photo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
      
  <img src="{{ (photo | async).file_url || (photo | async).photo_url}}"/>
  
</ion-content>
