<ion-header class="bar-positive">
  <ion-navbar color="primary">
    <ion-title>Cheers</ion-title>
  </ion-navbar>
  <ion-toolbar color="light">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      [showCancelButton]="true"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">
  
  <br />
  
  <div *ngFor="let event of events | async">
    <ion-card (click)="viewEvent(event)" color="dark">
      <img *ngIf="!!event.photo_url" src="{{ event.photo_url }}"/>
      <div class="card-title">{{event.created_date | date: 'ddMMyyyy'}}</div>
      <div class="card-subtitle">{{event.num_photos}} photos</div>
    </ion-card>
  </div>
  
  <ion-fab right top edge>
    <button ion-fab (click)="createEvent()" color="secondary">
      <ion-icon name="ios-beer"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>
